body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, yellow, black); /* Fundo degradê de amarelo para preto */
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com leve transparência */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra ao redor do container */
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordas arredondadas para os inputs */
}

button {
    padding: 10px;
    width: 85%;
    border: none;
    border-radius: 5px; /* Bordas arredondadas para o botão */
    background-color: yellow; /* Cor de fundo do botão */
    cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
}

button:hover {
    background-color: gold; /* Cor do botão ao passar o mouse */
}