body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff9c9c;
}

.container {
    text-align: center;
}

img {
    width: 300px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-top: 20px;
    border-radius: 50%;
}